# Logs
logs
*.log

# Dependency directories
node_modules

# Production build files
dist
build

# Environment variables file
.env

# macOS-specific files
.DS_Store

# Editor-specific files
.vscode/
.idea/

# Temporary files
*.swp
*.swo
*.tmp

# Backup files
*~

# Thumbnails
thumbs.db

# Compiled binary addons (https://github.com/TooTallNate/node-gyp/)
build/Release
